bayes/chap*/.ipynb_checkpoints/*
IADML/.idea/*
IADML/chap2/.ipynb_checkpoints/*
IADML/chap7/.ipynb_checkpoints/*
.idea/
ap_timeseries/chap1/.ipynb_checkpoints/
ap_timeseries/chap2/.ipynb_checkpoints/
ap_timeseries/chap3/3.2.2_kalman_filter_seasonal.ipynb

abnormaly_detection/fsharp/abnormal_dt/bin/
abnormaly_detection/fsharp/abnormal_dt/packages/
abnormaly_detection/fsharp/abnormal_dt/obj/
abnormaly_detection/fsharp/Hotelling/bin/
abnormaly_detection/fsharp/Hotelling/packages/
abnormaly_detection/fsharp/Hotelling/obj/
abnormaly_detection/fsharp/abnormal_data/.vs/
abnormaly_detection/fsharp/abnormal_data/bin/
abnormaly_detection/fsharp/abnormal_data/packages/
abnormaly_detection/fsharp/abnormal_data/obj/
abnormaly_detection/fsharp/eval/bin/
abnormaly_detection/fsharp/eval/packages/
abnormaly_detection/fsharp/eval/obj



